@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit pe Cooking Heaven!</h1>
    <p>Cel mai bun loc de pe internet unde poti impartasi si gasi retete noi!</p>
  
</div>
<div class="text-md-left">
    <h4 class="display-4">Reteta saptamanii</h4>
     <img class="float-right" src="https://media.kaufland.com/images/PPIM/AP_Content_1010/std.lang.all/07/74/Asset_1020774.jpg" alt="Spaghete Carbonara"  width="350" height="300"/>
    <h3>Spaghete carbonara</h3>
    <p>Ingrediente</p>
    
<ul>
    <li>200g spaghete</li>
    <li>200g smantana</li>
    <li>100g bacon</li>
    <li>3 oua</li>
    <li>Ulei de masline</li>
    <li>Sare</li>
    <li>Piper</li>
</ul>
<p>Preparare</p>
<ul>
    <li>Se fierb pastele în apă cu sare conform instrucțiunilor de pe pachet. Se limpezesc în jet de apă rece și se lasă la scurs.</li>
    <li>Baconul se taie cubulețe și se prăjește în 3 linguri de ulei, până se rumenește.</li>
    <li>Smântâna se amestecă cu gălbenușurile, sare și piper. Se toarnă amestecul peste bacon și se mai fierbe un minut.</li>
    <li>Se pun pastele peste sos și se amestecă.</li>
    <li>Se servesc fierbinți cu parmezan ras.</li>
</ul>

</div>

