@{
    ViewData["Title"] = "Tutorial";
}

<h3>Ghid de utilizare al site-ului</h3>

<div class="text-md-left">
     <p>Ca sa poti adauga/edita/vizualiza/sterge retete trebuie sa te inregistrezi/conectezi!</p>
     <img class="float-left" src="/Imagini/inregistrare.png" width="600" height="310"/>
</div>
<div class="text-md-left">
     <p>Pe pagina "Retete" poti sa adaugi retete,sa editezi,vizualizezi si sa stergi</p>
     <img class="float-left" src="/Imagini/retete.png" width="600" height="310"/>
</div>