@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reseataza-ti parola-confirmare";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parola ta a fost resetata. Te rog <a asp-page="./Login">apasa aici ca sa te autentifici</a>.
</p>
